# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Build directory
build/

# Test coverage
coverage.txt
profile.out

# IntelliJ
*.iml
.idea

.vscode/
cmd/indexer/debug
geth-data
mysql-data

# Docker compose env file
.env
